# ----------------------------
# Python が生成する不要ファイル
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------
# database
# ----------------------------
*.db

# ----------------------------
# csv
# ----------------------------
*.csv

# ----------------------------
# 環境設定
# ----------------------------
*.env

# ----------------------------
# その他キャッシュ
# ----------------------------
.cache/
